---
layout: bootcamp
root: .
venue: The University of Edinburgh
address: Room 3217, James Clark Maxwell Building, Kings Buildings, Mayfield Road, Edinburgh, EH9 3JZ
country: United-Kingdom
humandate: December 3-4, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-12-03
enddate: 2013-12-04
latlng: 55.921628,-3.174155
registration: open
instructor: ["Mike Jackson", "Mario Antonioletti"]
contact: host-edinburgh@software-carpentry.org
---
{% include bootcamps/instructors.html %}
<p>
  <strong>Organisers:</strong> This boot camp is being organised by <a href="http://www.epcc.ed.ac.uk">EPCC</a> as part of <a href="http://www.prace-ri.eu/">PRACE</a> (Partnership for Advanced Computing in Europe) and <a href="http://www.software.ac.uk">The Software Sustainability Institute</a>.
</p>
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p>
  <strong>Registration:</strong> please visit our 
<a href="http://events.prace-ri.eu/confRegistrationFormDisplay.py?confId=192">registration site</a>
</p>
{% include bootcamps/contact.html %}

<hr/>

<h2>Timetable</h2>

Tuesday 3rd December
<ul>
 <li>09:00 - 09:30 Registration and Software Installation</li>
 <li>09:30 - 10:00 Welcome</li>
 <li>10:00 - 10:30 Using version control to manage and share information</li>
 <li>10:30 - 11:00 Break</li>
 <li>11:00 - 12:30 Using version control to manage and share information (cont)</li>
 <li>12:30 - 13:30 Lunch</li>
 <li>13:30 - 15:00 Using Python for scientific programming</li>
 <li>15:00 - 15:30 Break</li>
 <li>15:30 - 17:00 Using Python for scientific programming (cont)</li>
</ul>

Wednesday 4th December
<ul>
 <li>09:00 - 09:30 Recap</li>
 <li>09:30 - 10:30 How (and how much) to test programs</li>
 <li>10:30 - 11:00 Break</li>
 <li>11:00 - 12:00 How (and how much) to test programs (cont)</li>
 <li>12:00 - 13:00 Lunch</li>
 <li>13:00 - 14:00 Debugging</li>
 <li>14:00 - 14:30 Documenting code</li>
 <li>14:30 - 15:00 Break</li>
 <li>15:00 - 16:30 To be determined based on the expectations and preferences of the attendees.</li>
 <li>16:30 - 17:00 Wrap-up</li>
</ul>

<hr/>

<h2>Required Software</h2>

A full set of installation instructions will be circulated two weeks before the bootcamp.

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
  <li><a href="{{page.root}}/lessons/ref/sql.html">SQL</a></li>
</ul>
