<link rel='stylesheet' type='text/css' href='{{page.root}}/css/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='{{page.root}}/css/fullcalendar/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='{{page.root}}/js/jquery/jquery-1.8.1.min.js'></script>
<script type='text/javascript' src='{{page.root}}/js/jquery/jquery-ui-1.8.23.custom.min.js'></script>
<script type='text/javascript' src='{{page.root}}/js/fullcalendar/fullcalendar.min.js'></script>
<script type='text/javascript'>
  $(document).ready( function() {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar_canvas').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      editable: false,
      events: [
{% for bootcamp in site.posts %}
        {
          title: '{{bootcamp.title}}',
          start: new Date({{ bootcamp.date | date: '%Y, %m - 1, %d' }}),
  {% if bootcamp.days %}
          end: new Date({{ bootcamp.date | date: '%Y, %m - 1, %d - 1' }} + {{bootcamp.days}}),
  {% endif %}
          url: './{{bootcamp.url}}',
        },
{% endfor %}
      ]
    });
  });
</script>
