<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<!-- pageclass: GenericPage -->
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.png" />

    <link rel="stylesheet" href="{{site.swc_main}}/css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{{site.swc_main}}/css/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{site.swc_main}}/css/blueprint/ie.css" type="text/css" media="screen, projection"/>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{site.swc_main}}/css/swc.css" />

    <title>Software Carpentry: {{page.title}}</title>
  </head>

  <body>
    <div class="container shadow">

      <div class="banner">
        <a href="{{site.swc_main}}/index.html" title="Software Carpentry Home">
          <img src="{{site.swc_main}}/img/software-carpentry-banner.png" alt="Software Carpentry banner" />
        </a>
      </div>

  <div class="mainmenu">
    <div id="menubar">
            <a href="{{site.swc_main}}/index.html">Home</a>
            |
            <a href="{{site.swc_main}}/about/index.html">About</a>
            |
            <a href="{{site.swc_main}}/4_0/index.html">Lessons</a>
            |
            <a href="{{site.swc_github}}/boot-camps/index.html">Boot Camps</a>
            |
            <a href="{{site.swc_main}}/setup/index.html">Setup</a>
            |
            <a href="{{site.swc_main}}/blog/index.html">Blog</a>
            |
            <a href="{{site.swc_main}}/license.html">License</a>
          </div>
          <div id="searchbar">
            <form name="google-search" method="get" action="http://www.google.com/search">
                <input type="hidden" name="sitesearch" value="{{http://software-carpentry.org"}} />
                <input name="q" type="text" />
                <input type="submit" name="sa" value="Search" />
            </form>
          </div>
  </div>

      <div class="title">
        {{page.title}}
      </div>

      <div class="content">
        {{content}}
      </div>

      {% include disqus.html %}

      <div class="footer">
        <a href="{{site.swc_main}}/license.html"><img src="{{site.swc_main}}/img/creative-commons-attribution-license.png" alt="Creative Commons Attribution License" /></a>
      </div>

    </div>
  </body>
</html>
