{% include doctype.html %}
<html>
  <head>
    {% include header.html %}
    {% include map-header.html %}
    {% include calendar-header.html %}
  </head>

  <body onload="initialize_map();">
    <div class="container shadow">

      {% include banner.html %}
      {% include main-menu.html %}

      <div class="content">
        {{content}}


        {% include posts-future.html %}

        <div style="width: 100%;">
          <div style="margin-left: auto; margin-right: auto; width: 600px;">
            {% include map-body.html %}
          </div>
          <div style="margin-left: auto; margin-right: auto; margin-top: 10px; width: 600px">
            {% include calendar-body.html %}
          </div>
        </div>
        <div style="clear: both;">

        {% include posts-past.html %}
      </div>

      {% include disqus-span.html %}
      {% include footer.html %}

    </div>

    {% include footer-javascript.html %}
    {% include map-footer.html %}
    {% include calendar-footer.html %}

  </body>
</html>
